
.icon-vkontakte:before { content: '\e800'; } /* '' */
.icon-vkontakte-1:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-rss-squared:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-yanss:before { content: '\e808'; } /* '' */