---
layout: default
---
<div class="container">
  <div class="row">
    

    <div class="col-md-2">
      {% include menu.html %}
    </div>

    <div class="col-md-10">
      <header class="post-header">
        <h2 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {{ content }}
      </article>

      {% if page.comments %} 
        <hr/>
        <h2>Comments</h2>
        <div class="fb-comments" data-href="{{ "{{ site.url " }}}}{{ "{{ page.url " }}}}" data-num-posts="4" data-width="706"></div>
      {% endif %}
    </div>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="fb-comments" data-numposts="5" data-colorscheme="light"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="vk_comments"></div>
      <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: "*"});
      </script>
    </div>
  </div>

</div>
